[submodule "themes/tailbliss"]
	path = themes/tailbliss
	url = https://github.com/nusserstudios/tailbliss.git
[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/526avijitgupta/gokarna.git
